<h1 *ngIf="!blogId">New Post</h1>
<h2 *ngIf="blogId">Editing Post</h2>

<hr>
<h2 *ngIf="!blogId">Create New Blog Post:</h2>
<h2 *ngIf="blogId">Edit:</h2>
<form form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">

    <label for="title">Title:</label>

    <input class="form-control" formControlName="title" required="required" type="text" name="title" id="title"
        placeholder="Enter Title" aria-label="Enter Title">
    <span class="help-block"
        *ngIf="formdata.get('title')?.errors && (formdata.get('title')?.touched || formdata.get('title')?.dirty || submitted)">
        <span *ngIf="formdata.get('title')?.errors?.required">
            Enter the requied data
        </span>
    </span>
    <br>
    <label for="author">Author:</label>
    <input class="form-control" formControlName="author" required="required" type="text" name="author" id="author"
        placeholder="Enter Author" aria-label="Enter Author">
    <span class="help-block"
        *ngIf="formdata.get('author')?.errors && (formdata.get('author')?.touched || formdata.get('author')?.dirty || submitted)">
        <span *ngIf="formdata.get('author')?.errors?.required">
            Enter the requied data
        </span>
    </span>
    <br>
    <label for="content">Post:</label>
    <textarea class="form-control" formControlName="post" required="required" name="content" id="content"
        placeholder="Enter Content" aria-label="Enter Content" rows="3"></textarea>
    <span class="help-block"
        *ngIf="formdata.get('post')?.errors && (formdata.get('post')?.touched || formdata.get('post')?.dirty || submitted)">
        <span *ngIf="formdata.get('post')?.errors?.required">
            Enter the requied data
        </span>
    </span>
    <br>

    <input type="submit" value="Post">
</form>
<hr>