<div>
    <h1 style="display:inline">All Posts</h1>
    <a style="display:inline" class="btn btn-success float-right" routerLink="/post/new">+ New Post</a>
</div>
<hr>

<div *ngFor="let item of BlogList; let i = index">
    <h2>{{item.title}}</h2>

    <small> Written by {{item.author}} on {{item.createdAt}}</small>

    <br>
    <br>
    <p style="white-space:pre-wrap">{{item.post}}</p>
    <br>
    <a class="btn btn-danger del" (click)="deleteBlog(item._id, i)">Delete</a> 
    <a class="btn btn-primary" routerLink="/post/edit/{{item._id}}">Edit</a>
    <br>
    <hr>
    <br>
</div>