<nav class="navbar bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="home">Dummy Blog</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
    data-target="#navbarToggler" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler" [collapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home"> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="post">Posts</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown02" (click)="isCollapsedContact = !isCollapsedContact"
          [attr.aria-expanded]="!isCollapsedContact" data-toggle="ContactToggler" aria-haspopup="true"
          aria-expanded="false">Contact Us</a>
        <div class="dropdown-menu" id="ContactToggler" [collapse]="!isCollapsedContact">

          <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/">Linkedin</a>
          <a class="dropdown-item" target="_blank" href="https://twitter.com/">Twitter</a>
          <a class="dropdown-item" target="_blank" href="https://www.facebook.com/">Facebook</a>
          <a class="dropdown-item" target="_blank" href="https://www.instagram.com/">Instagram</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
